@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden{display: none;}
.show{display: block;}
.fl{float: left;}
.fr{float: right;}
/* style */
header{
	background:#1860c2;
	width: 100%;
}
.wrap{
	width: 1042px;
	margin:0 auto;
}
.nav{
	height: 94px;
	margin:0 auto;
	color: #fff;
	position: relative;
}
.logo{
	float: left;
	width: 108px;
	height: 100%;
	background: url(../img/logo.png) no-repeat center center;
	color: #fff;
	text-indent: -99999px;
	margin-left: 38px;
}
.nav_list{
	float: left;
	margin-left: 30px;
}
.nav_list .nav_item{
	padding:0 20px;
	color: #fff;
	line-height: 94px;
	font-size: 14px;
	text-decoration: none;
}
.nav_list .nav_item:hover{
	opacity: 0.6;
}
.nav .game_list{
	float: left;
	width: 270px;
	margin-top: 16px;
	margin-left: 30px;
}
.game_list .game_wrapper{
	height: 78px;
}
.game_list a.game_item{
	display: block;
}
.game_item .game_des{
	padding:8px 0 0 5px;
}
.game_item .game_des h1{
	font-size: 20px;
	font-weight: bold;
	color: #fdff44;
	line-height: 30px;
}
.game_item .game_des span{
	font-size: 16px;
	color: #fff;
}
.game_icon{
	height: 60px;
	width: 70px;
	padding-bottom: 5px;
	background: url(../img/shape.png) no-repeat center bottom;
}
.game_icon img{
	display: block;
	height: 60px;
	width: 60px;
	margin:0 auto;
}
.cs{
	position: relative;
	float: right;
	height: 100%;
	width: 94px;
	border:1px #207dfd solid;
	border-top: 0;
	border-bottom: 0;
	margin-right: 30px;
	/*text-indent: -99999px;*/
	background: #1c71e5 url(../img/phone_icon.png) no-repeat center center;
}
.cs_wrap{
	display: none;
	position: absolute;
	top: 94px;
	right: -1px;
	width: 216px;
	padding:24px;
	background:#fff;
	border:1px #207dfd solid;
	border-top: 0;
	z-index: 100;
	text-align: center;
	color: #4d4d4d;
	line-height: 20px;
	font-size: 14px;
}
.cs_wrap img{
	display: block;
	margin:0 auto;
	margin-bottom: 12px;
}
.weinxi{
	font-size: 16px;
	color: #1860c2;
	line-height: 30px;
}
.contact{
	text-align: left;
	font-size: 12px;
	color: #8a8a8a;
	margin-top: 16px;
	line-height: 22px;
}
.contact .cs_item{
	padding-left: 24px;
	background: url(../img/cs_icon.png) no-repeat;
	color: #4d4d4d;
}
.contact .cs_item.cs_email{
	background-position: 0 4px;
}
.contact .cs_item.cs_tele{
	background-position: 0 -22px;
}
.contact .cs_item.cs_addr{
	background-position: 0 -48px;
}
.cs:hover{
	background: #fff url(../img/phone_icon.png) no-repeat center center;
}
.cs:hover>div{
	display: block;
}
.footer{
	background: #2c2e31;
}
.hotlink_wrap{
	height: 52px;
	line-height: 52px;
	text-align: center;
	background: #2c2e31;
	font-size: 12px;
	position: relative;
}
.hotlink_wrap .sns_link{
	position: absolute;
	overflow: hidden;
	zoom:1;
	top: 6px;
	right: 100px;
}
.sns_item{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
	background: #414141 url(../img/sns_icon.png) no-repeat;
}
.sns_item:hover{
	background: #414141 url(../img/sns_icon_hover.png) no-repeat;
}
.sns_item.sns_weibo{
	background-position: 6px 6px;
}
.sns_item.sns_weixin{
	background-position: -42px 6px;
}
.sns_item.sns_baidu{
	background-position: -94px 6px;
}
.hotlink_wrap .hotlink{
	text-decoration: none;
	color: #7d7d7d;
}
.hotlink_wrap b{
	font-weight: normal;
	padding:0 40px;
	color: #7d7d7d;
}
.office_info{
	text-align: center;
	font-size: 12px;
	background: #222326;
	color: #636363;
	padding:10px 0;
}
.office_info .office_safe{
	line-height: 26px;
}
.office_info .copyright{
	line-height: 20px;
}
.main{
	position: relative;
	background:#f1f3f4;
}
.img_list{
	/*text-align: center;*/
	width: 100%;
	height: 674px;
}
.img_list .img_item{
	width: 100%;
	
}
.img_list .img_item.img_item_1{
	background: url(../img/img1.jpg) no-repeat center center;
}
.img_list .img_item.img_item_2{
	background: url(../img/img2.jpg) no-repeat center center;
}
.img_list .img_item.img_item_3{
	background: url(../img/img3.jpg) no-repeat center center;
}
.img_page{
	bottom: 160px !important;
	left: -160px !important;
}
.img_page .swiper-pagination-bullet{
	width: 14px;
	height: 14px;
	border:3px #fff solid;
	background: #fff;
	opacity: 1;
}
.img_page .swiper-pagination-bullet-active{
	background:#1c71e5;
}
.img_info{
	position: absolute;
	bottom: 0;
	height: 148px;
	width: 100%;
	background: rgba(24, 96, 194, 0.8);
	z-index: 100;
}
.img_info_wrap{
	height: 148px;
	position: relative;
}
.game_wrap{
	width: 180px;
	height: 180px;
	border-radius: 100%;
	background: #1c71e5;
	border: 14px #fff solid;
	position: absolute;
	left: 30px;
	top: -120px;
	text-align: center;
}
.game_wrap img{
	width: 125px;
	height: 125px;
	margin-top: 28px;
}
.game_txt{
	position: absolute;
	left: 250px;
}
.game_txt h1{
	font-size: 26px;
	color: #fff;
	display: inline-block;
	position: relative;
	padding:20px 0 6px 0;
	border-bottom: 1px rgba(34,35,38,0.5) solid;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.25); 
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.25);   
	box-shadow:0 1px 0 rgba(255,255,255,0.25); 
}
.game_txt h1 b{
	font-size: 40px;
}
.game_txt span{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	margin-top: 6px;
}
.video_btn{
	position: absolute;
	height: 53px;
	width: 53px;
	right: -65px;
	top: 28px;
	background: url(../img/video_icon.png) no-repeat center center;
	opacity: 0.7;
}
.video_btn:hover{
	opacity: 1;
}
.modal_backdrop{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 100;
}
.modal_video{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 784px;
	height: 442px;
	margin-left: -392px;
	margin-top: -221px;
	background: #000;
	border: 5px #1860c2 solid;
	border-radius: 10px;
	z-index: 101;
}
.modal_close{
	position: absolute;
	width: 50px;
	height: 51px;
	background: url(../img/close_btn.png) no-repeat center center;
	top:5px;
	right: -74px;
	cursor: pointer;
}
.game_center{
	padding:50px 0 30px 0;
}
.game_title{
	padding: 0 30px;
	color: #3f3f3f;
	margin-bottom: 46px;
}
.game_title .title_txt{
	font-weight: bold;
	font-size: 30px;
}
.game_title .game_tab{
	padding-left: 20px;
	margin-left: 10px;
	
}
.game_title .game_tab.game_hot{
	background: url(../img/hot_icon.png) no-repeat center left;
}
.game_title .game_tab.game_new{
	background: url(../img/new_icon.png) no-repeat center left;
}
.game_center_list{
	overflow: hidden;
	zoom:1;
	padding:0 30px;
}

.game_center_item{
	float: left;
	width: 301px;
	height: 485px;
	border: 1px #dedede solid;
	position: relative;
	margin-right: 35px;
}
.game_center_item:last-child{
	margin-right: 0;
}
.game_page{
	text-align: center !important;
	margin-top: 30px;

}
.game_page a{
	color: #7e7e7e;
}
.game_page b{
	color: #7e7e7e;
	font-weight: normal;
	padding:0 5px 0 7px;
}
.game_page a.cur{
	color: #1860c2;
}
.download_wrap{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 3;
	/*text-align: center;*/
}
.download_btn{
	position: absolute;
	display: inline-block;
	height: 54px;
	width: 214px;
	margin-left: -107px;
	left: 50%;
	line-height: 54px;
	border-radius: 27px;
	color: #fff;
	font-size: 16px;
	z-index: 4;
	text-indent: 60px;
}
.download_btn.for_android{
	background: #1c71e5 url(../img/platform_icon.png) no-repeat;
	background-position: 20px -58px;
	top: 236px;
}
.download_btn.for_ios{
	background: #1c71e5 url(../img/platform_icon.png) no-repeat;
	background-position: 20px 12px;
	top: 166px;
}
.download_entry{
	position: absolute;
	top: 14px;
	right: 14px;
	z-index: 2;
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background: #1c71e5 url(../img/download_icon.png) no-repeat center center;
	cursor: pointer;
}
.game_img img{
	width: 301px;
	height: 295px;
}
.game_des_info{
	padding:14px 16px;
	height: 108px;
	border-bottom: 1px #dedede solid;
}
.game_des_info p{
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	color: #939393;
}
.game_icon_name{
	overflow: hidden;	
	zoom:1;
}
.game_icon_name img{
	display: inline-block;
	float: left;
	width: 80px;
	height: 80px;
}
.game_icon_name div{
	float: left;
	
}
.game_icon_name div h1{
	font-size: 18px;
	padding-top: 30px;
}
.game_icon_name div h2{
	display: inline-block;
	font-size: 12px;
	color: #9b9b9b;
	padding: 0 20px 0 10px;
	margin-top: 10px;	
}
.game_icon_name div h2.new_tab{
	background: url(../img/new_icon.png) no-repeat center right;
}
.game_icon_name div h2.hot_tab{
	background: url(../img/hot_icon.png) no-repeat center right;
}
.game_entry{
	padding:0 16px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #abafb1;
}
.game_entry .office_enter{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	color: #fff;
	padding:0 20px;
	background: #1c71e5;
	font-size: 12px;
	float: right;
	margin-top: 9px;
}

.about{
	padding-bottom: 60px;
}
.page_title{
	font-size: 90px;
	color: #1557ae;
	padding-left: 30px;
	padding-top: 30px;
	font-family: Arial;
}
.page_small_title{
	margin:0 30px;
	border-bottom: 2px #d9dbda solid;
	height: 46px;
	position: relative;
}
.page_small_title .left_line{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 150px;
	background: #1c71e5;
}
.page_small_title .en_title{
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 32px;
	color: #1c71e5;
	font-family: Arial;
	font-weight: normal;
	padding-right: 6px;
}
.page_small_title .cn_title{
	display: block;
	line-height: 36px;
	float: left;
	font-size: 22px;
	color: #505050;
	font-weight: normal;
	padding-right: 6px;
}
.page_small_title .other_title{
	display: block;
	line-height: 36px;
	float: left;
	font-size: 22px;
	color: #1860c2;
	font-weight: normal;
}
.company_des{
	padding:0 30px;
	margin-top: 34px;
}
.company_des p{
	color: #727272;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 30px;
}
.company_idea{
	width: 908px;
	height: 220px;
	margin:0 auto;
	margin-top: 50px;
}
.company_idea .idea_item{
	width: 302px;
	height: 100%;
	float: left;
	position: relative;
	background: url(../img/about_icon.png) no-repeat;
}
.company_idea .idea_item.idea_platform{
	background-position: 0 0;
}
.company_idea .idea_item.idea_heart{
	background-position: -308px 0;
}
.company_idea .idea_item.idea_game{
	background-position: -640px 0;
}
.idea_txt{
	position: absolute;
	bottom: 0;
	font-size: 16px;
	font-weight: bold;
	color: #3f3f3f;
	text-align: center;
}
.company_idea .idea_item.idea_heart .idea_txt{
	left: 52px;
}
.company_idea .idea_item.idea_game .idea_txt{
	left: 60px;
}
.idea_txt b{
	color: #1860c2;
}
.join{
	padding-bottom: 20px;
}
.job_tab{
	padding:0 30px;
	margin-top: 20px;
	overflow: hidden;
	zoom:1;
}
.job_tab .job_tab_item{
	float: left;
	height: 46px;
	line-height: 46px;
	padding:0 35px;
	border:1px #e0e0e0 solid;
	border-right: 0;
	font-size: 18px;
	color: #575757;
	background: #fff;
}
.job_tab .job_tab_item.active{
	background: #1c71e5;
	color: #fff;
}
.job_tab .job_tab_item.active a{
	color: #fff;
}
.job_tab .job_tab_item:last-child{
	border-right: 1px #e0e0e0 solid;
}
.job_list{
	padding:0 30px;
	margin-top: 6px;
}
.table_wrap{
	border:1px #e0e0e0 solid;
	padding: 8px 10px;
	background: #fff;
}
.list_table{
	width: 100%;
}
.table_body{
	
}
.table_header{
	height: 40px;
	line-height: 40px;
	color: #1860c2;
	background: #f1f3f4;
}
.table_header th{
	text-align: center;
	font-size: 14px;
}

.table_item{
	height: 40px;
	line-height: 40px;
	border-bottom:1px #f1f3f4 solid;
}
.table_item td{
	text-align: center;
	font-size: 14px;
	color: #7e7e7e;
}
.table_item td a{
	color: #7e7e7e;
	cursor: pointer;
}
.table_item .new_job{
	padding-right: 24px;
	background: url(../img/new_job.png) no-repeat center right;
}
.table_item .hot_job{
	padding-right: 24px;
	background: url(../img/hot_job.png) no-repeat center right;
}
.table_body .item_left{
	text-align: left;
	padding-left: 34px;
}


.list_page{
	text-align: right;
    padding: 20px 0;
    padding-right:10px;
}
.list_page a{
	color: #7e7e7e;
}
.list_page b{
	color: #7e7e7e;
	font-weight: normal;
	padding:0 5px 0 7px;
}
.list_page a.cur{
	color: #1860c2;
}
.list_page #go_page{
	height: 20px;
	line-height: 20px;
	border-radius: 0;
    border: 0;
    padding: 0 6px;
    background-color: #1c71e5;
    color: #fff;
    margin:0 4px;
    cursor: pointer;
}
.list_page #ipt_page{
	width: 10px;
	height: 20px;
	padding: 0 10px;
}
.intro{
	padding-top: 50px;
	padding-bottom: 20px;
}
.intro .intro_title{
	padding-left: 30px;
	font-size: 26px;
	color: #1860c2;
}
.intro .intro_main{
	padding:0 30px;
}
.intro_des{
	border:1px #e0e0e0 solid;
	margin-top: 22px;
}
.des_top{
	padding:16px 0;
	background: #fff;
}
.des_top table{
	width: 100%;
	font-size: 14px;
}
.des_top table tr{
	height: 24px;
	line-height: 24px;
	color: #4f4f4f;
}
.des_top table tr td{
	padding-left: 50px;
}
.des_center{
	padding:28px 44px;
	background: #f1f3f4;
	overflow: hidden;
	zoom:1;
}
.des_center .des_item{
	width: 48%;
}
.des_center .des_item .des_item_list{
	padding-left: 18px;
}
.des_center .des_item .des_item_list li{
	line-height: 22px;
}
.des_center .des_item .des_item_title{
	color: #1860c2;
	font-size: 14px;
	padding-bottom: 10px;
}

.des_center .des_duty{
	float: left;
}
.des_center .des_require{
	float: right;
}
.des_center .back_job{
	display: inline-block;
	float: right;
	font-size: 14px;
	color: #1860c2;
	margin-top: 30px;
}
.des_bottom{
	padding-top:16px;
	padding-bottom: 40px;
	background: #fff;
	position: relative;
}
.des_bottom span{
	padding-left: 50px;
	line-height: 24px;
	font-size: 14px;
	color: #1860c2;
}
.des_bottom .send_email{
	position: absolute;
	height: 54px;
	line-height: 54px;
	border-radius: 27px;
	padding:0 68px;
	top: 18px;
	right: 170px;
	font-size: 16px;
	color: #fff;
	background: #1c71e5 url(../img/email_icon.png) no-repeat;
	background-position: 38px 17px;
}






